.git/
**/.git
.vscode/
.idea/

build/
install/
log/
.ros/

local_artifacts/
rosbag/

**/__pycache__/
*.py[cod]
*.pyo

*.db3
*.mcap
*.bag
*.tar.xz

examples/data/rosbag/*
!examples/data/rosbag/.gitkeep
examples/output/extrinsic_results/*
!examples/output/extrinsic_results/.gitkeep
